<h1 class="section-heading">Welcome to cStyle</h1>
<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->

<!-- Content Section -->
<div class="row">
  <div class="col-sm-12">
    <p class="lead">cStyle Bracelets are coming soon. Get ready by learning how to code them now!
  </div>
<div class="row">
PinkThink has created our own easy to learn programming language called Codeable Style (cStyle)  Style. All the codes you learn here can be used to program our new wearables, cStyle Bracelets.</p>
  </div>
</div>
<section>
  <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <h1 class="section-heading">Learn</h1>
              <p class="section-paragraph">How easy is it to learn our coding language? If you can form a sentence then you can start coding with cStyle. Visit our basics page to learn more and then check out sample codes for every skill level.</p>
          </div>
          <div class="container">
          <div class="row">
              <div class="col-xs-4">
<%= link_to_image("/images/basics.png", "/learn/basics") %> <%= link_to_image("/images/beginner code.png", "/learn/beginner") %> 
<%= link_to_image("/images/intermediate code.png", "/learn/intermediate") %> <%= link_to_image("/images/advanced code.png", "/learn/advance") %> 
         </div>
     </div>
  </div>
</section>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<aside class="image-bg-fixed-height"></aside>

<!-- Content Section -->
<section>
   <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="section-heading">Play</h1>

              <p class="section-paragraph">Test your coding chops with this fun game. Level up on your own or play against your friends. Don’t forget to check the scoreboard for the coder to beat.</p>
              	<div class="col-xs-4">
            	<%= link_to_image("/images/play beginner.png", "/game/play_beginner") %>
				<div class="col-xs-4">
				<%= link_to_image("/images/play intermediate.png", "/game/play_intermediate") %>
				<div class="col-xs-4">
				<%= link_to_image("/images/play advance.png", "/game/play_advance") %>
          		</div>
     </div>
      <!-- /.row -->
  </div>
   <!-- /.container -->
</section>

<!-- Footer -->
<footer>
   <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; Your Website 2014</p>
         </div>
      </div>
       <!-- /.row -->
   </div>
  <!-- /.container -->
</footer>